html {
    font-size: 100%;
    background-image: repeating-linear-gradient(to bottom,rgb(200, 226, 241) 0%,rgb(88, 171, 215) 50%,rgb(61, 141, 190) 51%,rgb(149, 210, 245) 100%);
    color: black;
    }
    
body {
    font-family: "MyriadPro-Regular", sans-serif;
    }
    
    
/* Font Declarations */

@font-face
{
font-family: MyriadPro-Regular;
font-style: normal;
src: url('../Fonts/MYRIADPRO-REGULAR.OTF')
}

@font-face
{
font-family: "MyriadPro-Cond";
font-style: normal;
src: url('../Fonts/MYRIADPRO-COND.OTF')
}

@font-face
{
font-family: "catull";
font-style: normal;
src: url('../Fonts/catull.ttf')
}


/* Styling */

.boxTrim {
  border-style: solid;
  border-top-width: 5px;
  border-top-color: rgba(88, 117, 238, 1);
  border-left: none;
  border-right: none;
  border-bottom: none;
}