html {
    font-size: 100%;
    /*background: url(../Assets/dream_fields.jpg) no-repeat center center fixed;
    background-size: cover;*/
    background-color: grey;
    color: black;
    }
    
body {
    font-family: "MyriadPro-Regular", sans-serif;
    }
    
    
/* Font Declarations */

@font-face
{
font-family: MyriadPro-Regular;
font-style: normal;
src: url('../Fonts/MYRIADPRO-REGULAR.OTF')
}

@font-face
{
font-family: "MyriadPro-Cond";
font-style: normal;
src: url('../Fonts/MYRIADPRO-COND.OTF')
}

@font-face
{
font-family: "catull";
font-style: normal;
src: url('../Fonts/catull.ttf')
}


/* Styling */

.boxTrim {
  border-style: solid;
  border-top-width: 5px;
  border-top-color: rgba(88, 117, 238, 1);
  border-left: none;
  border-right: none;
  border-bottom: none;
}