
#optionsContainer {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.titleBox {
  background-color: rgba(255, 255, 255, 1);
  height: 2em;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  font-size: 1.25em;
  padding: 10px 0px 10px 0px;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: rgba(88, 117, 238, 1);
  margin: auto;
  margin-top: 1em;
  width: 100%;
}

.pickerBox {
  width: 100%;
  height: 2em;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  font-size: 1.25em;
  margin-bottom: 0.25em;
}

.pickerList {
  margin: auto;
  text-align: center;
  width: 100%;
}


select.new {
  -webkit-appearance: none;
  border: 0;  
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  width: 100%;
  margin: auto;
  font-weight: bold;
  background-color: rgba(88, 117, 238, 1);
}


/* save button */

#save {
  width: 75%;
  height: 3em;
  border-style: solid;
  border-top-width: 5px;
  border-top-color: rgba(88, 117, 238, 1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: auto;
  margin-top: 2em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 1);
}

#save:hover {
  background: rgba(88, 117, 238, 1);
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

#save:focus {
  outline: none;
}

.prefsetsave {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  text-align: center;
}


#status {
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
}



